{% load static %}
<footer class="footer-container underground-footer">
  <!-- MIDDLE ROW: COLUMN LAYOUT -->
  <div class="footer-links">
    <!-- Column 1: MyHealthcare -->
    <div class="footer-column">
      <h4>MyHealthcare</h4>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'client_appointments' %}">Your Appointments</a></li>
        <li><a href="{% url 'subscription' %}">Subscription</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </div>

    <!-- Column 2: For Patients -->
    <div class="footer-column">
      <h4>For Patients</h4>
      <ul>
        <li><a href="{% url 'about' %}">Search for Doctors</a></li>
        <li><a href="{% url 'about' %}">Message to Doctors</a></li>
        <li><a href="{% url 'about' %}">Search for Clinics</a></li>
        <li><a href="{% url 'about' %}">Make an appointment</a></li>
      </ul>
    </div>

    <!-- Column 3: For Doctors -->
    <div class="footer-column">
      <h4>For Doctors</h4>
      <ul>
        <li><a href="{% url 'about' %}">Make a program</a></li>
        <li><a href="{% url 'about' %}">Message to clients</a></li>
        <li><a href="{% url 'about' %}">InClinic consultations</a></li>
        <li><a href="{% url 'about' %}">Online consultations</a></li>
      </ul>
    </div>

    <!-- Column 4: For Hospitals -->
    <div class="footer-column">
      <h4>Clinics</h4>
      <ul>
        <li><a href="{% url 'about' %}">Search for Clinics</a></li>
        <li><a href="{% url 'about' %}">View Details</a></li>
        <li><a href="{% url 'about' %}">View on Map</a></li>
      </ul>
    </div>

    <!-- Column 5: More -->
    <div class="footer-column">
      <h4>More</h4>
      <ul>
        <li><a href="{% url 'about' %}">Assistance</a></li>
        <li><a href="{% url 'about' %}">Terms &amp; Conditions</a></li>
      </ul>
    </div>

    <!-- Column 6: Social -->
    <div class="footer-column">
      <h4>Social</h4>
      <ul>
        <li><a href="https://www.facebook.com/encean.mihnea" target="_blank">Facebook</a></li>
        <li><a href="https://www.instagram.com/mihnea.encean/?next=%2F" target="_blank">Instagram</a></li>
        <li><a href="https://www.linkedin.com/in/encean-mihnea-478872246/" target="_blank">LinkedIn</a></li>
        <li><a href="https://x.com/EnceanM77754" target="_blank">X</a></li>
      </ul>
    </div>
  </div>

  <!-- BOTTOM ROW: COPYRIGHT / SITE NAME -->
  <div class="footer-bottom">
    <h2>MyHealthcare</h2>
    <p>&copy; 2024 MyHealthcare. All rights reserved.</p>
  </div>
</footer>






